/* <!-- font import --> */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&family=Raleway:wght@100;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 60px;
  font-family: dosis;
}
h2 {
  font-size: 50px;
  font-family: dosis;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
a {
  text-decoration: none;
}

.title span:not(.about .title span, .contact .title span) {
  border-color: #ff724c !important;
  color: #818181;
}
.navbar .buttn {
  background-color: #ff724c;
}
.navbar .nav-link.active {
  color: #313335;
  font-size: 15px;
}
.navbar .nav-link {
  color: #818181;
  font-weight: 400;
  margin-right: 15px;
  position: relative;
  padding: 10px 0;
}
.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff724c;
  transition: width 0.5s;
}
.navbar .nav-link:hover::after {
  width: 100%;
}
.navbar .nav-link.active::after {
  width: 100%;
}
.buttn span {
  font-size: 14px;
}
.navbar .buttn i {
  transition: 0.5s;
}
.navbar .buttn:hover i {
  transform: rotate(360deg);
  color: white !important;
  background-color: #313335 !important;
}
/* end nav */
/* start header */
header {
  background-image: url(../img/introbg5.png);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}
.header-content span,
.header-content p {
  color: #313335;
  font-size: 23px;
  font-weight: 500;
  font-family: raleway;
}
.header-content p {
  margin-left: auto;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0);
  animation: typing 3s infinite alternate steps(28),
    blinking 0.5s infinite alternate;
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 105%;
  }
}
@keyframes blinking {
  0% {
    border-color: rgba(0, 0, 0, 0);
  }
  100% {
    border-color: rgba(0, 0, 0, 0.8);
  }
}

.social .icon i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #3b5999;
  color: #3b5999;
  transition: transform 0.5s, background-color 0.5s;
}
.social .icon i:hover {
  transform: rotate(360deg);
  background-color: #3b5999;
  color: white;
}
.social .icon:nth-child(2) i {
  border: 1px solid #ea4c89;
  color: #ea4c89;
}
.social .icon:nth-child(2) i:hover {
  background-color: #ea4c89;
  color: white;
}
.social .icon:nth-child(3) i {
  border: 1px solid #1769ff;
  color: #1769ff;
}
.social .icon:nth-child(3) i:hover {
  background-color: #1769ff;
  color: white;
}
.social .icon:nth-child(4) i {
  border: 1px solid #0077b5;
  color: #0077b5;
}
.social .icon:nth-child(4) i:hover {
  background-color: #0077b5;
  color: white;
}
.social .icon:nth-child(5) i {
  border: 1px solid #dd4b39;
  color: #dd4b39;
}
.social .icon:nth-child(5) i:hover {
  background-color: #dd4b39;
  color: white;
}
/* end header */
/* start about */
.about .container > .row {
  width: 80%;
  margin: auto;
}
.about .about-content-left {
  background-color: #4e4e4e;
}
.about .about-content-right {
  background-color: #ff724c;
}

.about .about-content-right p {
  font-size: 14px;
}
.about .about-content-right .eye-icon {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 13px;
}
.about .about-content-right a:hover .eye-icon {
  color: #ff724c !important;
}
.about .about-content-right a span {
  font-size: 13px;
  color: #4e4e4e;
}
/* end about */
/* start services */
.services h3 {
  color: #3b3b3b;
  font-size: 20px;
}
.services p {
  color: #818181;
  font-weight: 400;
  margin-bottom: 30px;
}
.services .services-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 100%;
  right: 0;
  background-color: #f3f3f3;
  border-radius: 10px;
  z-index: -1;
  transition: bottom 1s;
}
.services .services-item:hover::after {
  bottom: 0;
}
/* end services */
/* start portfolio */
.portfolio {
  background-color: #f3f3f3;
}
.portfolio .nav-link {
  font-size: 13px;
  background: transparent;
  color: #5f5f5f;
  border: 1px solid #5f5f5f;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.portfolio .nav-link:not(.active):hover {
  border: 1px solid #5f5f5f;
}
.portfolio .nav-link.active {
  background-color: #ff724c !important;
  color: white;
}
.portfolio h3 {
  font-size: 15px;
  font-weight: 500;
  color: #3b3b3b;
}
.portfolio .descreption p {
  font-size: 15px;
  font-weight: 400;
  color: #4c4c4c;
}
.portfolio .fa-heart {
  color: #ff724c;
}
.portfolio .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scaley(0);
  transition: transform 0.5s;
}
.portfolio .fa-magnifying-glass-plus {
  background-color: #ff724c;
  transform: scale(0);
  transition: 0.5s;
}
.portfolio .portfolio-item:hover .overlay {
  transform: scaleY(1);
}
.portfolio .portfolio-item:hover .fa-magnifying-glass-plus {
  transform: scale(1) rotate(-360deg);
}
.portfolio .fa-magnifying-glass-plus:hover {
  background-color: transparent;
  border: white 1px solid;
  color: #ff724c !important;
}
.portfolio .info {
  bottom: 50px;
  opacity: 0;
  width: 100%;
  transition: bottom 0.5s;
}
.portfolio .portfolio-item:hover .info {
  opacity: 1;
  bottom: 0;
}
/* end portfolio */
/* start info */
.bio h3,
.bio h4,
.bio span,
.bio p {
  color: #3b3b3b;
}
.bio {
  font-weight: 500;
}
.bio span,
.bio p {
  font-weight: 400;
  width: 95%;
  line-height: 23px;
}
.bio .head h3 {
  font-size: 20px;
}
.bio .desc h4 {
  font-size: 14px;
}
.bio .head i {
  background-color: #ff724c;
  color: #f3f3f3;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  z-index: 1;
}
.bio .head:hover i {
  color: #ff724c;
  background-color: #f3f3f3;
}
.bio .desc .item span:nth-child(2) {
  color: #ff724c;
  font-size: 14px;
}
.bio .desc .item p {
  font-size: 15px;
}

.bio .desc .item::before {
  content: "";
  position: absolute;
  top: -25px;
  bottom: 0;
  left: 5px;
  width: 1px;
  background-color: black;
}
.bio .desc .item:last-child::before {
  bottom: 88%;
}
.bio h4::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #ff724c;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 5px;
}
.bio .desc .item:hover h4::before {
  background-color: #ff724c;
}
.bio .desc .item .progress {
  background-color: #3b3b3b;
  height: 6px;
  width: 80%;
}
.bio .desc .item .progress-bar {
  background-color: #ff724c;
  width: 80%;
}
.bio .desc .item:nth-of-type(3) .progress-bar {
  width: 70%;
}
.bio .desc .item:nth-of-type(4) .progress-bar {
  width: 55%;
}
.bio .bio-item .skills h4 span {
  font-weight: 500;
  margin-left: 32%;
}
.bio .bio-item .skills .item:nth-of-type(3) h4 span {
  margin-left: 35%;
}
.bio .bio-item .skills .item:nth-of-type(4) h4 span {
  margin-left: 14%;
}
/* end bio */
/* start download */
.download {
  height: 350px;
  background-image: url(../img/brandbg.png);
  background-size: cover;
  background-position:50%;
}
.download::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #3b3b3b;
  opacity: 0.75;
}
.download .container {
  z-index: 1;
}
.download h2,
.download a {
  color: #f3f3f3;
}
.download a {
  transition: background-color 0.3s, border-color 0.3s;
}
.download a:hover {
  background-color: #ff724c;
  border-color: #ff724c !important;
}
.download h2 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: left;
}
.download img {
  width: 177.5px;
}

/* end download */
/*  start testi  */
.testimonials .client {
  width: 320px;
}
.testimonials h4 {
  font-size: 20px;
}
.testimonials .client .qoute {
  border-radius: 15px;
}
.testimonials .client .qoute:hover {
  background-color: #5b5b5b;
  color: #f3f3f3;
}
.testimonials .client .qoute:hover span {
  color: #f3f3f3;
}
.testimonials .client .qoute span {
  color: #5b5b5b;
  font-size: 14px;
  font-style: italic;
}
.testimonials .carousel-indicators {
  margin-bottom: 0;
  bottom: -25px;
}
.carousel-indicators [data-bs-target] {
  border: 1px solid #ff724c;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.carousel-indicators .active {
  background-color: #ff724c;
}
/* end testi */
/* start contact */
.contact {
  background-image: linear-gradient(
      rgba(255, 114, 76, 0.85),
      rgba(255, 114, 76, 0.85)
    ),
    url(../img/contactbg.png);
  background-size: cover;
  background-attachment: fixed;
}
.contact input:focus,
.contact textarea:focus {
  box-shadow: none !important;
  border: 1px solid white !important;
}
.contact ::placeholder {
  color: white;
  font-size: 13px;
}
.contact .enva-icon {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 13px;
}
.contact a:hover .enva-icon {
  color: #ff724c !important;
}
.contact a span {
  font-size: 13px;
  color: #4e4e4e;
}
/* end contact */
/* start map */
.map .contact-info {
  background-color: #282828;
  bottom: 8px;
  left: 0;
}
.map h4 {
  font-size: 20px;
}
.map i {
  color: #ff724c;
  transition: 0.5s;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.map .col-md-4 i:hover {
  transform: rotate(360deg);
  color: white;
  background-color: #ff724c !important;
}
/* end map */
/* start footer */
footer p,
footer span {
  font-size: 18px;
  color: #848484;
}
footer span {
  color: #ff724c;
}
/* end footer */
